/* _blocks/add-product.scss */

.add-product {
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid $special-grey;

  &:first-child {
    border-top: 1px solid $special-grey;
  }
}

.add-product__title {
  flex-basis: 100%;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 1;
  font-family: $font-highlight;
  font-weight: 400;
  text-transform: uppercase;
}

.add-product__details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  line-height: 1;
}

.add-product__button {
  padding-top: 10px;
  padding-bottom: 10px;
}


@media (min-width: $tablet-width) {
  .add-product {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 26px 38px 28px;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .add-product__title {
    flex-basis: auto;
    margin-right: auto;
    font-size: 20px;
  }

  .add-product__details {
    flex-basis: 400px;
    line-height: 1.25;
    justify-content: flex-end;
  }

  .add-product__amount {
    flex-basis: auto;
  }

  .add-product__price {
    flex-basis: 54px;
    margin-left: 40px;
    text-align: right;
  }
}


@media (min-width: $desktop-width) {
  .add-product {
    align-items: baseline;
    padding: 15px 0 17px;
  }

  .add-product__title {
    margin-bottom: 0;
  }

  .add-product__details {
    flex-basis: 286px;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .add-product__button {
    flex-basis: 244px;
    margin-left: 40px;
  }
}
