/* _blocks/add-catalog.scss */

.add-catalog__heading {
  z-index: 1;
  display: inline-block;
  padding-right: 22px;
  padding-bottom: 35px;
  line-height: 1;
  background-color: white;
}

.add-catalog__promo {
  min-width: 280px;
  min-height: 289px;
  background-color: $basic-green-dark;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 280px 289px;
  background-position: top center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.add-catalog__promo-description {
  width: 161px;
  margin: 0 auto;
  padding-top: 186px;
  color: $font-color-light;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-size: 55.5px 60px;
  background-position: 50% 65px;
}

.add-catalog__add-product-list {
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .add-catalog__heading {
    padding-right: 37px;
    padding-bottom: 80px;
    padding-left: 37px;
  }

  .add-catalog__add-product-list {
    margin-bottom: 67px;
    border: 1px solid $special-grey;
  }

  .add-catalog__promo {
    min-width: 708px;
    min-height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-size: 708px 200px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .add-catalog__promo-description {
    margin: 0;
    padding-top: 71px;
    padding-left: 423px;
    text-align: left;
    background-position: 89px 64px;
  }
}

@media (min-width: $desktop-width) {
  .add-catalog__heading {
    flex-basis: 100%;
    padding-left: 0;
  }

  .add-catalog__content-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .add-catalog__add-product-list {
    flex-basis: 73%;
    margin-bottom: 0;
    border-left: none;
    border-right: none;
  }

  .add-catalog__promo {
    flex-basis: 20%;
    min-width: 245px;
    min-height: 289px;
    margin-left: auto;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-size: 245px 289px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .add-catalog__promo-description {
    margin: 0 auto;
    padding-top: 184px;
    padding-left: 0;
    text-align: center;
    background-position: 50% 65px;
  }
}
