/* _blocks/additional-list.scss */

.additional-list {
  color: $font-color-dark;
}

.additional-list__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.additional-list__label {
  padding: 0 16px;
}

.additional-list__value {
  width: 30px;
  height: 30px;
}

@media (min-width: $tablet-width) {
  .additional-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .additional-list__item {
    flex-basis: 221px;
  }
}

@media (min-width: $desktop-width) {
  .additional-list {
    justify-content: flex-start;
  }

  .additional-list__item {
    margin-right: 104px;

    &:last-child {
      margin-right: 0;
    }
  }
}
