/* _blocks/advantages.scss */

.advantages__heading {
  margin-bottom: 38px;
  line-height: 1.11;
}

.advantages__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &::before {
    content: "";
    margin-right: 20px;
    flex-basis: 60px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 60px;
    background-color: $basic-green;
  }

  &--first::before {
    background-image: url(../../img/advantage-leaf@1x.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  &--second::before {
    background-image: url(../../img/advantage-powder@1x.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  &--third::before {
    background-image: url(../../img/advantage-dining@1x.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  &--fourth::before {
    background-image: url(../../img/advantage-clock@1x.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.advantages__description {
  flex-basis: 71%;
}

@media (min-width: $tablet-width) {

  .advantages__heading {
    margin-bottom: 32px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 247px 247px;
    grid-column-gap: 137px;
    grid-row-gap: 37px;
  }

  .advantages__item {
    position: relative;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    min-height: 240px;
    padding-top: 40px;


    &::before {
      flex-basis: 80px;
      height: 80px;
      margin-bottom: 31px;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 20px;
      font-family: $font-highlight;
      font-size: 280px;
      line-height: 1;
      color: $basic-grey;
      z-index: -1;
    }

    &--first::after {
      content: '1';
    }

    &--second::after {
      content: '2';
    }

    &--third::after {
      content: '3';
    }

    &--fourth::after {
      content: '4';
    }
  }

  .advantages__description {
    flex-basis: 100%;
    z-index: 1;
  }
}

@media (min-width: $desktop-width) {

  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 82px;
  }

  .advantages__item {
    margin-bottom: 0;
  }
}
