/* _blocks/container.scss */

.container {
  width: auto;
  padding: 0 6.25%;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 3.91%;
  }
}

@media (min-width: $desktop-width, max-width: $desktop-width-max) {
  .container {
    padding: 0 7.64%;
  }
}
