/* _blocks/cooperation.scss */

.cooperation {
  background-color: $basic-grey;

  &--index {
    background-color: $basic-white;
  }
}

.cooperation__info {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding-top: 28px;
  padding-bottom: 22px;
}

.cooperation__heading {
  flex-basis: 140px;
  padding-top: 5px;
  font-family: $font-highlight;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: $font-color-dark;
}

.cooperation__address {
  flex-basis: 140px;
  line-height: 1.43;
}

.cooperation__map-wrapper {
  position: relative;
  min-width: 320px;
  width: 100%;
  height: 365px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: $basic-grey;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }

  &::before {
    content: "";
    position: absolute;
    top: 44%;
    left: 44%;
    display: block;
    width: 57px;
    height: 53px;
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.cooperation__map {
  z-index: 1;
  position: relative;
  width: 100%;
  height: inherit;
  border: none;

  &--nojs {
    display: none;
  }
}


@media (min-width: $tablet-width) {
  .cooperation__info {
    padding-left: 41px;
    padding-right: 42px;
  }

  .cooperation__heading {
    flex-basis: 170px;
    font-size: 20px;
    line-height: 1;
  }

  .cooperation__address {
    flex-basis: 159px;
    text-align: right;
    line-height: 1.25;
  }

  .cooperation__address-town {
    display: block;
    padding-top: 15px;
  }

.cooperation__map-wrapper {
    height: 400px;
    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }

    &::before {
      width: 113px;
      height: 106px;
    }
  }
}

@media (min-width: $desktop-width) {
  .cooperation {
    position: relative;
  }

  .cooperation__info {
    position: absolute;
    top: 65px;
    width: 405px;
    padding: 66px 89px 51px 76px;
    background-color: $basic-white;
  }

  .cooperation__address {
    text-align: left;
  }

.cooperation__map-wrapper {
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }

    &::before {
      top: 150px;
      left: 69%;
    }
  }
}
