/* _blocks/demo.scss */

.demo {
  background-color: $special-grey-light;
}

.demo__wrapper {
  padding-top: 27px;
  padding-bottom: 25px;
}

.demo__heading {
  margin-bottom: 33px;
  line-height: 1.11;
}

.demo__description {
  margin-bottom: 25px;
}

.demo__stat-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 44px;
}

.demo__stat-item {
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 122px;
  margin-bottom: 34px;
  padding: 14px 0 17px;
  border: 1px solid $special-grey;
  border-radius: 4px;
  text-align: center;

  &:first-child {
    margin-right: 31px;
  }
}

.demo__stat-value {
  display: block;
  font-family: $font-highlight;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: $font-color-dark;
}

.demo__stat-option {
  position: absolute;
  top: 48px;
  display: block;
  width: 60px;
  padding: 0 18px;
  font-size: 12px;
  line-height: 1;
  background-color: $special-grey-light;
}

.demo__caption {
  width: 100%;
  font-family: $font-highlight;
  font-weight: 400;
  color: $font-color-dark;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.43;
}

.demo__progress {
  margin: 0 -6.25%;
}

.demo__image-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 240px;
  margin-bottom: 13px;
}

.demo__image {
  width: 100%;

  &--after {
    display: none;
  }
}

.demo__controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.demo__button {
  padding: 4px 10px 6px;
  min-width: 49px;
  font-family: $font-highlight;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;
  background: none;
  border: none;
  margin: 0 2px;
}

.demo__progress-bar {
  width: 84px;
  height: 14px;
  padding: 3px 5px;
  border: 1px solid $special-grey;
  border-radius: 6px;
  background-color: white;
  box-sizing: border-box;
}

.demo__range {
  display: none;
  width: inherit;
}

.demo__progress-toggle {
  width: 50%;
  height: 6px;
  border-radius: 6px;
  background-color: #68b738;
}

@media (min-width: $tablet-width) {
  .demo {
    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 57%, rgba(234, 234, 234, 1) 57%);
    border-top: 1px solid $special-grey-light;
  }

  .demo__wrapper {
    padding-top: 43px;
    padding-bottom: 64px;
  }

  .demo__heading {
    margin-bottom: 63px;
    line-height: 1;
  }

  .demo__description {

    margin-bottom: 54px;
  }

  .demo__stat-list {
    justify-content: flex-start;
  }

  .demo__stat-item {
    min-width: 158px;
    padding: 15px 0 20px;
  }

  .demo__stat-value {
    font-size: 30px;
    line-height: 1.23;
  }

  .demo__stat-option {
    top: 63px;
    width: auto;
    padding: 0 7px;
    font-size: 14px;
    background-color: $basic-white;
  }

  .demo__caption {
    width: auto;
    margin-left: auto;
    padding-top: 11px;
    font-size: 20px;
    line-height: 1;
    text-align: right;
  }

  .demo__caption-info {
    display: block;
    width: 100%;
    margin-bottom: 9px;
  }

  .demo__progress {
    margin: 0;
  }

  .demo__image-wrapper {
    position: relative;
    min-height: 517px;
  }

  .demo__image {
    display: block;
    width: 690px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    &--before {
      clip: rect(auto, 345px, auto, auto);
    }

    &--after {
      clip: rect(auto, auto, auto, 345px);
    }
  }

  .demo__button {
    font-size: 20px;
    padding: 4px 10px 0;

    &::after {
      content: '';
      display: block;
      padding-top: 4px;
      border-bottom: 1px dotted $special-grey;
    }
  }

  .demo__progress-bar {
    position: relative;
    width: 428px;
    height: 6px;
    background-color: $special-grey;
  }

  .demo__progress-toggle {
    position: absolute;
    top: -15px;
    right: 50%;
    width: 33px;
    height: 33px;
    border: 1px solid $special-grey;
    border-radius: 50%;
    background-color: $basic-white;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.16));

    &::after {
      z-index: 1;
      position: absolute;
      top: 13px;
      right: 13px;
      content: "";
      width: 8px;
      height: 8px;
      background-color: $basic-green;
      border-radius: 50%;
    }
  }
}

@media (min-width: $desktop-width) {
  .demo {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 30%, rgba(242, 242, 242, 1) 30%);
    border-top: none;
  }

  .demo__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 69px;
    padding-bottom: 67px;
  }

  .demo__heading {
    margin-bottom: 146px;
  }

  .demo__description {
    width: 436px;
    margin-bottom: 69px;
  }

  .demo__stat-list {
    width: 366px;
    margin-bottom: 0;
  }

  .demo__stat-option {
    background-color: $basic-grey;
  }

  .demo__caption {
    width: 100%;
    text-align: left;
  }

  .demo__caption-info {
    display: inline-block;
    width: auto;

    &:first-child {
      margin-right: 63px;
    }
  }

  .demo__image-wrapper {
    min-height: 470px;
  }

  .demo__image {
    top: 0;
    width: 610px;

    &--before {
      clip: rect(auto, 323px, auto, auto);
    }

    &--after {
      clip: rect(auto, auto, auto, 323px);
    }
  }

  .demo__progress-toggle {
    cursor: pointer;

    &:hover {
      filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.19));
    }

    &:active {
      border: 1px solid $basic-green;
    }
  }

  .demo__button {
    cursor: pointer;

    &:hover::after {
      border-bottom: 1px solid $basic-black;
    }

    &:active::after {
      border-bottom: 1px solid transparent;
    }
  }
}
