/* _blocks/form.scss */

.form {
  font-family: $font-highlight;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.12;
  font-weight: 400;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;

  &--cat-info {
    margin-bottom: 23px;
  }

  &--target {
    margin-bottom: 27px;
  }

  &--owner {
    margin-bottom: 27px;
    border-bottom: none;
  }

  &--comment {
    margin-bottom: 27px;
    border-bottom: none;
  }

  &--additional {
    margin-bottom: 34px;
    border-bottom: none;
  }
}

.form__field-block {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 13px;
}

.form__label {
  margin-right: 14px;
}

.form__text-field {
  flex-basis: auto;
  flex-grow: 1;
  padding: 13px 14px;
  text-transform: uppercase;
  border-radius: 0;
  border: 1px solid $special-grey-light;

  &:focus {
    border-color: $basic-black;
    box-shadow: inset 0 0 0 1px $basic-black;
    outline: none;
  }

  &:focus + .form__icon {
    fill: $basic-green;
  }

  &:invalid {
    border-color: $special-error;
    box-shadow: inset 0 0 0 1px $special-error;
  }

  &:invalid + .form__icon {
    fill: $special-error;
  }
}

.form__plan-list {
  padding: 20px 8% 22px;
  margin: 0 -7%;
  color: $special-grey-darkest;
  border-top: 1px solid $special-grey;
  border-bottom: 1px solid $special-grey;
}

.form__plan-item {
  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.form__icon {
  position: absolute;

  &--mail {
    right: 15px;
  }

  &--phone {
    right: 13px;
  }
}

.form__legend {
  position: relative;
  display: inline-block;
  width: auto;
  padding-right: 23px;
  padding-bottom: 32px;
  text-transform: none;
  background-color: $basic-white;
  line-height: 1;
}

.form__legend span {
  display: block;
}

.form__comment-field {
  padding: 13px 12px 13px 15px;
  text-transform: uppercase;
  border-radius: 0;
  border: 1px solid $special-grey-light;
  min-width: 251px;
  min-height: 150px;

  &:focus {
    border-color: $basic-black;
    box-shadow: inset 0 0 0 1px $basic-black;
    outline: none;
  }
}

.form__additional-list {
  color: $font-color-dark;
}

.form__input {
  display: none;
}

.form__label-type {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    margin-right: 16px;
    border: 1px solid $special-grey;
    box-sizing: border-box;
  }

  &::after {
    position: absolute;
    content: "";
    display: none;
  }

  &:hover::before {
    border-color: $special-greyer;
  }

  &:active {
    opacity: 0.3;
  }

  &--radio::before {
    border-radius: 50%;
  }

  &--radio::after {
    top: 7px;
    left: 7px;
    width: 14px;
    height: 14px;
    background-color: $basic-green;
    border-radius: 50%;
  }

  &--checkbox::after {
    top: 7px;
    left: 5px;
    width: 18px;
    height: 14px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
  }
}

.form__input:checked + .form__label-type::after {
  display: block;
}

.form__additional-item:not(:last-child) {
  margin-bottom: 13px;
}

.form__button {
  margin-bottom: 21px;
  font-size: 16px;
}

.form__note {
  font-family: $font-normal;
  text-transform: none;
  color: $font-color-dark;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .form {
    font-size: 20px;
    line-height: 1.5;
  }

  .form__fieldset {
    padding-left: 40px;
    padding-right: 37px;
    margin: 0;
    margin-bottom: 24px;
    border-bottom: none;
  }

  .form__legend {
    padding-bottom: 76px;
  }

  .form__comment-field {
    padding: 10px 19px;
    width: 100%;
    max-width: 591px;
  }

  .form__additional-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 123px;
    grid-row-gap: 32px;
  }

  .form__additional-item:not(:last-child) {
    margin: 0;
  }

  .form__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 40px;
  }

  .form__button {
    flex-basis: 282px;
    margin-bottom: 0;
    margin-right: 61px;
    font-size: 20px;
    line-height: 1;
    padding: 16px 10px;
  }

  .form__note {
    font-size: 16px;
    line-height: 1;
  }

  .form__plan-list {
    margin: 0;
    padding: 25px 28px 30px;
    border: 1px solid $basic-grey;
  }

  .form__plan-item {
    display: flex;
    align-items: center;
  }

  .form__icon {
    &--mail {
      right: 19px;
    }

    &--phone {
      right: 17px;
    }
  }

  .form__label-type {
    &::before {
      width: 38px;
      height: 38px;
    }

    &--radio::after {
      top: 10px;
      left: 10px;
      width: 18px;
      height: 18px;
    }

    &--checkbox::after {
      top: 12px;
      left: 10px;
    }
  }
}


@media (min-width: $desktop-width) {
  .form__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
  }

  .form__fieldset {
    padding: 0;
    margin-bottom: 67px;

    &--cat-info {
      border: none;
    }

    &--additional {
      margin-bottom: 61px;
    }
  }

  .form__field-block {
    margin-bottom: 22px;
  }

  .form__comment-field {
    padding: 10px 19px;
    max-width: 100%;
    box-sizing: border-box;
  }

  .form__additional-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 104px;
  }

  .form__footer {
    padding-left: 0;
  }

  .form__button {
    flex-basis: 568px;
  }

  .form__icon {
    &--mail {
      right: 18px;
    }

    &--phone {
      right: 15px;
    }
  }
}
