/* _blocks/form.scss */

.form {

  font-family: $font-highlight;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.12;
  font-weight: 400;
}

.form__fieldset {
  padding: 0 20px;
  margin: 0 -20px;
  border: none;
  border-bottom: 1px solid $special-grey;

  &--cat-info {
    padding-bottom: 23px;
  }

  &--target {
    padding-top: 20px;
    padding-bottom: 22px;
  }

  &--owner {
    border-bottom: none;
  }

  &--comment {
    border-bottom: none;
  }

  &--additional {
    border-bottom: none;
    margin-bottom: 34px;
  }
}

.form__field-block {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label {
  margin-right: 14px;
}

.form__text-field {
  flex-basis: auto;
  flex-grow: 1;
  padding: 13px 14px;
  text-transform: uppercase;
  border-radius: 0;
  border: 1px solid $special-grey-light;
}

.form__legend {
  display: block;
  padding-top: 26px;
  padding-bottom: 32px;
  text-transform: none;
  font-size: 26px;
  line-height: 1.08;
  color: $font-color-dark;
}

.form__comment-field {
  padding: 13px 12px 13px 15px;
  text-transform: uppercase;
  border-radius: 0;
  border: 1px solid $special-grey-light;
  min-width: 251px;
  min-height: 150px;
}

.form__button {
  margin-bottom: 21px;
  font-size: 16px;
}

.form__note {
  font-family: $font-normal;
  text-transform: none;
  color: $font-color-dark;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}


@media (min-width: $tablet-width) {
  .form {
    font-size: 20px;
    line-height: 1.5;
  }

  .form__fieldset {
    margin: 0;
    margin-bottom: 24px;
    padding-left: 40px;
    padding-right: 37px;
    border-bottom: none;
  }

  .form__legend {
    padding-top: 49px;
    padding-bottom: 76px;
  }

  .form__comment-field {
    padding: 10px 19px;
    width: 100%;
    max-width: 591px;
  }

  .form__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 40px;
  }

  .form__button {
    flex-basis: 282px;
    margin-bottom: 0;
    margin-right: 61px;
    font-size: 20px;
    line-height: 1;
    padding: 16px 10px;
  }

  .form__note {
    font-size: 16px;
    line-height: 1;
  }
}


@media (min-width: $desktop-width) {

  .form__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
  }

  .form__fieldset {
    padding: 0;

    &--cat-info {
      border: none;
    }
  }

  .form__field-block {
    margin-bottom: 20px;
  }

  .form__wrapper>.form__field-block {
    margin-bottom: 0;
  }

  .form__legend {
    padding-top: 69px;
    padding-bottom: 76px
  }

  .form__comment-field {
    padding: 10px 19px;
    max-width: 100%;
    box-sizing: border-box;
  }

  .form__additional-list {
    margin-bottom: 61px;
  }

  .form__footer {
    padding-left: 0;
  }

  .form__button {
    flex-basis: 568px;
  }
}
