/* _blocks/header-nav.scss */

.header-nav {
  width: 100%;
  text-align: center;
  font-family: $font-highlight;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1;

  &__item {
    border-bottom: 1px solid $special-grey-light;
    margin-left: -20px;
    margin-right: -20px;
  }

  &__item:first-child {
    border-top: 1px solid $special-grey-light;
  }

  &__link {
    display: block;
    width: 100%;
    padding: 22px 0 24px;
  }
}

@media (min-width: $tablet-width) {
  .header-nav {
    width: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    padding: 24px 0;

    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      border-bottom: none;
      margin-left: 0;
      margin-right: 35px;
    }

    &__item:first-child {
      border-top: none;
    }

    &__item:last-child {
      margin-right: 0;
    }

    &__link {
      width: auto;
      padding: 0;
      padding-bottom: 10px;
    }

    &__link--active {
      border-bottom: 2px solid $basic-green;
    }
  }

}
