/* _blocks/nav-toggle.scss */

.nav-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 16px;
  padding: 0;
  cursor: pointer;
  transition: all .5s ease-in-out;
  background: none;
  border: none;
}

.nav-toggle__icon {
  position: relative;
  width: 24px;
  height: 1.5px;
  background-color: $basic-black;
  transition: all .5s ease-in-out;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 24px;
    height: 1.5px;
    background-color: $basic-black;
    transition: all .5s ease-in-out;
  }

  &::before {
    top: 8px;
  }

  &::after {
    top: -8px;
  }
}

.nav-toggle--opened .nav-toggle__icon {
  background-color: transparent;

  &::before {
    transform: rotate(45deg);
    top: 0;
  }

  &::after {
    transform: rotate(-45deg);
    top: 0;
  }
}

@media (min-width: $tablet-width) {
  .nav-toggle {
    display: none;
  }
}
