/* _blocks/page-header.scss */

.page-header {

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 0 17px 0;
  }

  &__nav-toggle {
    border: none;
    background: none;
  }

  &__nav {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    .page-header {
      &__nav {
        position: relative;
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}
