/* _blocks/page.scss */

.page {
  height: 100%;
  font-size: 14px;
  font-family: $font-normal;
  line-height: 18px;
  &__body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    min-width: 320px;
    min-height: 100%;
    color: $font-color-primary;
  }
}
