/* _blocks/page-footer.scss */

.page-footer {
  width: 100%;
  background-color: $basic-grey;
}

.page-footer__logo {
  border-bottom: 1px solid $special-grey;
}

.page-footer__social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__logo-link {
  display: flex;
  width: 100%;
  padding: 41px 0 32px;
}

.page-footer__logo-icon {
  margin: auto;
}

.page-footer__social {
  padding: 10px 0 10px;
  border-bottom: 1px solid $special-grey;
}

.page-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.page-footer__copyright-text {
  font-size: 16px;
}

.page-footer__copyright-icon {
  fill: $special-grey-dark;
}


@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    align-items: center;
    padding-top: 38px;
    padding-bottom: 39px;
  }

  .page-footer__logo {
    border-bottom: none;
    margin-right: 145px;
  }

  .page-footer__logo-link {
    padding: 22px 0;
  }

  .page-footer__social {
    border-bottom: none;
  }

  .page-footer__copyright {
    margin-left: auto;
  }

  .page-footer__copyright-text {
    margin-right: 9px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__logo {
    margin-right: 403px;
  }

  .page-footer__logo-link {
    &:hover {
      opacity: 0.8;
      transition: 0.3s;
    }

    &:active {
      opacity: 0.6;
      transition: 0s;
    }
  }

  .page-footer__copyright-link {
    &:hover .page-footer__copyright-icon {
      fill: $basic-green;
      transition: 0.3s;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
