/* _blocks/page-main.scss */

.page-main__promo-block {
  margin-bottom: 22px;
}

.page-main__product-categories {
  margin-bottom: 27px;
}

.page-main__advantages {
  margin-bottom: 42px;
}

.page-main__cooperation {
  margin-bottom: 0;
}

.page-main__catalog {
  margin-bottom: 28px;
}

.page-main__add-catalog {
  margin-bottom: 35px;
}


@media (min-width: $tablet-width) {
  .page-main__promo-block {
    margin-bottom: 0;
  }

  .page-main__product-categories {
    margin-bottom: 45px;
  }

  .page-main__advantages {
    margin-bottom: 47px;
  }

  .page-main__catalog {
    margin-bottom: 68px;
  }

  .page-main__add-catalog {
    margin-bottom: 76px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__promo-block {
    margin-bottom: 82px;
  }

  .page-main__product-categories {
    margin-bottom: 71px;
  }

  .page-main__advantages {
    margin-bottom: 0;
  }

  .page-main__catalog {
    margin-bottom: 76px;
  }

  .page-main__add-catalog {
    margin-bottom: 86px;
  }
}
