/* _blocks/page-main.scss */

.page-main {

  &__promo-block {
    margin-bottom: 22px;
  }

  &__product-categories {
    margin-bottom: 27px;
  }

  &__advantages {
    margin-bottom: 42px;
  }

  &__cooperation {
    margin-bottom: 0;
  }
}


@media (min-width: $tablet-width) {
  .page-main {

    &__advantages {
      margin-bottom: 47px;
    }
  }
}
