/* _blocks/page-footer.scss */

.page-footer {
  width: 100%;
  background-color: $basic-grey;
}

.page-footer__logo {
  border-bottom: 1px solid $special-grey;
}

.page-footer__logo-link {
  display: flex;
  width: 100%;
  padding: 39px 0 32px;
}

.page-footer__logo-icon {
  margin: auto;
}

.page-footer__social {
  padding: 20px 0 21px;
  border-bottom: 1px solid $special-grey;
}

.page-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 22px 0;
}

.page-footer__copyright-text {
  font-size: 16px;
}


@media (min-width: $tablet-width) {

  .page-footer__wrapper {
    display: flex;
    align-items: center;
    padding-top: 33px;
    padding-bottom: 39px;
  }

  .page-footer__logo {
    border-bottom: none;
    margin-right: auto;
  }

  .page-footer__logo-link {
    padding: 22px 0;
  }

  .page-footer__social {
    border-bottom: none;
  }

  .page-footer__copyright {
    margin-left: auto;
  }

  .page-footer__copyright-text {
    margin-right: 22px;
  }
}
