/* _blocks/page-header.scss */

.page-header {
  position: relative;
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.page-header__logo {
  padding: 11px 0 16px;
}


@media (min-width: $tablet-width) {
  .page-header__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .page-header__nav-toggle {
    display: none;
  }

  .page-header__logo {
    margin-right: auto;
    padding: 24px 0 16px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {

    &--index {
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }

  .page-header__wrapper {
    padding-top: 53px;
    padding-bottom: 32px;
  }

  .page-header__logo:hover {
  opacity: 0.8;
}

.page-header__logo:active {
  opacity: 0.6;
}
}
