/* _blocks/page-header.scss */

.page-header {

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 0 17px 0;
  }

  &__nav-toggle {
    border: none;
    background: none;
  }

}

@media (min-width: $tablet-width) {
  .page-header {
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    &__nav-toggle {
      display: none;
    }

    &__top {
      justify-content: flex-start;
      margin-right: auto;
    }
  }
}
