/* _blocks/plan-list.scss */

.plan-list {
  color: $special-grey-darkest;
}

.plan-list__item {

  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.plan-list__label {
  padding: 0 15px;
}

@media (min-width: $tablet-width) {
  .plan-list {
    padding: 25px 28px;
    border: 1px solid $basic-grey;
  }

  .plan-list__item {
    display: flex;
    align-items: center;
  }

  .plan-list__value {
    width: 40px;
    height: 40px;
  }
}
