/* _blocks/plan.scss */

.plan__form {
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .plan__form {
    margin-bottom: 69px;
  }
}

@media (min-width: $desktop-width) {
  .plan__form {
    margin-bottom: 82px;
  }
}
