/* _blocks/product-details.scss */

.product-details {
  font-size: 12px;
  line-height: 1.33;
}

.product-details__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}


@media (min-width: $tablet-width) {
  .product-details {
    font-size: 16px;
    line-height: 1;
  }

  .product-details__row {
    padding: 5px 0 7px;
    border-bottom: 1px solid $special-grey;
  }
}
