/* _blocks/product-details.scss */

.product-details {
  font-size: 12px;
  line-height: 1.33;

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
  }
}


@media (min-width: $tablet-width) {
  .product-details {
    font-size: 16px;
    line-height: 1;

    &__row {
      padding: 5px 0 9px;
      border-bottom: 1px solid $special-grey;
    }
  }
}
