/* _blocks/product-categories.scss */

.product-categories__product-category {
  margin-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .product-categories__product-category {
    margin-bottom: 33px;
  }
}

@media (min-width: $desktop-width) {
  .product-categories__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
  }
}
