/* _blocks/promo-block.scss */

.promo-block {
  font-family: $font-highlight;
  color: $font-color-light;
  text-align: center;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 36.5%, rgba(99, 167, 58, 1) 36.5%);
}

.promo-block__wrapper {
  background-image: url(../img/index-background-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: 320px 305px;
  background-position: top center;

  @media (min-resolution: 2dppx) {
    background-image: url(../img/index-background-mobile@2x.jpg);
  }
}

.promo-block__heading {
  width: 249px;
  margin: 0 auto;
  padding: 27px 0 25px 0;
  line-height: 1;
}

.promo-block__slogan {
  margin-bottom: 29px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1;
}

.promo-block__promo-img {
  display: block;
  margin: 0 auto 3px;
}

@media (min-width: $tablet-width) {
  .promo-block {
    color: $font-color-dark;
    text-align: start;
    background: none;
  }

  .promo-block__info {
    padding-left: 87px;
  }

  .promo-block__wrapper {
    position: relative;
    background-image: none;
  }

  .promo-block__heading {
    width: 414px;
    margin: 0;
    padding: 32px 0 41px 0;
  }

  .promo-block__slogan {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .promo-block__promo-link {
    position: absolute;
    top: 270px;
    left: 87px;
    width: 244px;
    font-size: 20px;
    line-height: 1;
    padding: 17px 10px;
  }

  .promo-block__promo-img {
    width: 709px;
    height: 690px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .promo-block {
    position: relative;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(99, 167, 58, 1) 50%);
    background-repeat: no-repeat;
    background-position: top right;

    &::before {
      content: url("../img/index-background-desktop@1x.jpg");
      position: absolute;
      left: 50%;
      width: 720px;
      height: auto;

      @media (min-resolution: 2dppx) {
        background-image: url(../img/index-background-desktop@2x.jpg);
      }
    }
  }

  .promo-block__wrapper {
    position: relative;
    padding-top: 191px;
    padding-bottom: 224px
  }

  .promo-block__promo-img {
    position: absolute;
    top: 191px;
    left: 550px;
    width: 552px;
    height: 499px;
    min-height: auto;
  }

  .promo-block__promo-link {
    position: static;
    z-index: 1;
    margin-left: 87px;
  }
}
