/* _blocks/social-list.scss */

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list__item {
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}

.social-list__link {
  min-width: 23px;
  padding: 10px;
}
