$bg-color-primary: rgb(255, 255, 255);
$bg-color-secondary: rgb(242, 242, 242);
$bg-color-interactive: rgb(104, 183, 56);
$font-color-primary: rgb(68, 68, 68);
$font-color-light: rgb(255, 255, 255);
$font-color-dark: rgb(17, 17, 17);
$border-separator-color: rgb(217, 217, 217);

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;

$font-normal: 'Arial', 'Helvetica', sans-serif;
$font-highlight: 'Oswald', 'Arial', 'Helvetica', sans-serif;
